/*COLORS*/
$color-white: #f1e8e8;
$color-grey: #777;
$color-black: #212121;

$primary-color: rgba(124, 157, 175, 0.961);
$primary-color-light: #bcdff3;
$primary-color-dark: #46555e;
/*#387497*/

$accent-color: #ffabbc;
$accent-color-dark: #ff7e99;

/*GRID*/
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;

/*HEADER*/
$header-gutter-horizontal: 2rem;
