//COLORS
$color-white: #fffcd2;
$color-grey: #777;
$color-black: #212121;

// $primary-color: #7c9daf;
$primary-color: rgba(124, 157, 175, 0.961);
$primary-color-light: #bcdff3;
$primary-color-dark: #46555e;

$secondary-color: #00d0ff;
$secondary-color-light: #54dffe;
$secondary-color-dark: #0096b8;


//GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;

//HEADER
$header-gutter-horizontal: 2rem;
