.header {
  height: 96vh;
  position: relative;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 73%);

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  .header-primary {
    width: 40rem;
    height: 20rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 5px 8px 0px #07070761;
    background-color: #f1e8e8;
    border-radius: 1px;

    .header-primary__heading {
      background-color: #b61212;
      display: inline-block;
      width: 100%;
      text-align: center;
      letter-spacing: 7px;
      border-radius: 2px;
    }
    .header-primary__info {
      font-size: 1.5rem;
      letter-spacing: 2px;
    }
  }
}
