.header {
  height: 96vh;
  position: relative;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 73%);

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  &__icon-box {
    height:9rem;
    width: 18rem;
  }

  &__icon {
    height: 8rem;
    width: 18rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-primary {
    width: 40rem;
    height: 20rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 15%;
    box-shadow: 3px 5px 8px 0px #07070761;
    background-color: #f1e8e8;
    border-radius: 4px;

    &__heading {
      background-color: $primary-color;
      display: inline-block;
      width: 100%;
      text-align: center;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      padding: 6px;
      text-transform: uppercase;
      color: #e9e7e7;
    }

    &__info {
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    &__name {
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}
