.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 7rem;
    z-index: 200;
    text-align: center;
  }

  &__background {
    height: 4rem;
    width: 2rem;
    position: fixed;
    top: 5.5rem;
    right: 9rem;
    z-index: 100;
    transition: 0.3s cubic-bezier(0.38, 0.05, 0.48, 0.81);;
    background-color: #212121;
  }

  &__nav {
    height: 6rem;
    position: fixed;
    top: 4.5rem;
    right: 11rem;
    z-index: 150;
    list-style: none;
    opacity: 0;
    width: 0;
    transition: 0.5s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0 2rem;
      color: #bcdff3;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffabbc 50%);
      background-size: 225%;
      transition: 0.3s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: $primary-color-dark;
    }
  }

  /*FUNCIONALITY*/
  &__checkbox:checked ~ &__background {
    transform: translateX(-21rem) scale(20, 1);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 40rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  /*ICON*/
  &__icon {
    position: relative;
    margin-top: 2.3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }
    &::after {
      top: 0.5rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }
}