.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 200;
    text-align: center;
  }

  &__background {
    height: 6rem;
    width: 3rem;
    position: fixed;
    top: 6.5rem;
    right: 8rem;
    z-index: 100;
    transition: transform 0.8s;
    background-color: #46555e;
  }

  &__nav {
    height: 6rem;
    position: fixed;
    top: 6.5rem;
    right: 9.5rem;
    z-index: 150;
    list-style: none;
    opacity: 0;
    width: 0;
    transition: 0.3s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 700;
      padding: 0 2rem;
      color: #fffcd2;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fffcd2 50%);
      background-size: 225%;
      transition: 0.6s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: $primary-color-dark;
    }
  }

  //FUNCIONALITY
  &__checkbox:checked ~ &__background {
    transform: translateX(-30rem) scale(20, 1);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 60rem;
  }

  &__checkbox:checked ~ &__nav &__{
    opacity: 1;
    width: 60rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }
    &::after {
      top: 0.5rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }
}

// .main-navigation {
//   display: inline-block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   font-size: 1.8rem;
//   z-index: 5;

//   .main-navigation__list {
//     display: inline-block;
//     border: .2rem;
//     padding: 1rem 0 1rem 0;
//     letter-spacing: .1rem;
//     background-color: $primary-color-dark;
//     color: $color-black;

//     [class*="__list--"] {
//       padding: 1rem;
//       transition: background-color 200ms linear, color 250ms linear;

//       &:link
//       ,:visited {
//         text-transform: uppercase;
//         text-decoration: none;
//         color: $color-black;

//       }

//       &:hover {
//         background-color: $color-black;
//         color: $color-white;
//       }

//     }
//   }
//   #js-main-navigation__pull-out {
//     display: inline-block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     font-size: 1.8rem;
//     z-index: 1;
//   }

// }
