.bio {
  height: 100%;
  text-align: center;
  position: relative;

  &__content {
    height: 23%;
    width: 65%;
    background-color: rgba(25, 34, 66, 0.88);;
    display: flex;
    align-items: center;
    color: #bcdff3;
    border-radius: 14%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    @include responsive(phone) {
      height: 30%;
      width: 95%;
    }

  }
  
  &__img {
    background-image: url("../img/bio-pic.jpg");
    height: 100%;
    width: 17rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
    @include responsive(phone) {
      width: 46rem;
      margin-right: 1rem
    }
  }
  
  &__text {
    width: 45rem;
    
    a:link, 
    a:active,
    a:visited {
      text-decoration: none;
      color: #ff7e99;
      transition: all .3s;
    }

    a:hover{
      color: #ffabbc;
    }
    
    @include responsive(phone) {
     font-size: 2.4rem;
    }
    
  }
}

.stack {
  height: 47%;
  
  @include responsive(phone) {
    height: 30%;
    margin-top: 20rem;
  }
  
  &__heading {
    margin-top: 4rem;
    font-weight: 300;

    @include responsive(phone) {
      font-size: 4rem;
    }
  }
  
  &__card-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  &__card {
    height: 20;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    transition: 0.5s;
    
    &:hover {
      padding-top: 2rem;
      background-color: $primary-color-light;
      color: $primary-color-dark;
      
      & .stack__icon {
        fill: #ff7e99;
      }
      
      & .stack__icon-box {
        height: 6.25rem;
        width: 6.25rem;
      }
    }
  }
  
  &__icon-box {
    border-style: solid;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__icon {
    height: 3rem;
    width: 3rem;
    transition: 0.5s;
  }
  
  &__text {
    padding-top: 3rem;

    &--big {
      font-size: 2.5rem;
      font-weight: 700;
    }
    
  }

}

.tech {
  height: 24%;
  width: 47%;
  position: absolute;
  right: 0;
  bottom:0;
  border-radius: 36%;
  background-color: rgba(25, 34, 66, 0.88);;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #bcdff3;
  font-weight: 300;

  h1 {
    font-weight: 300;
  }
  &__item-container {
    width: 90%;
    margin-top: -5rem;
  }

  &__item {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px #3e3e3e;
    margin-right: 2rem;
    opacity: .5;
    transition: .4s;

    &:hover {
      opacity: 1;
    }

    img {
      height: inherit;
    }
    
  }
}
