.card-two-imgs {
  width: 100%;
  border-top-style: solid;
  border-top-width: thick;
  border-bottom-style: solid;
  border-bottom-width: thick;

  &__descript {
    text-align: center;
    padding: 2% 5% 0 5%;
    padding-top: 2%;
    height: 6rem;
  }

  &__img-box {
    height: 68rem;
    position: relative;
  }

  [class*="__photo-"] {
    height: 40rem;
    position: absolute;
    background-size: cover;
    background-position: top;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 11px -1px rgba(33, 33, 33, 0.48);
    transition: 200ms linear;
    cursor: pointer;
  }

  &__photo-1 {
    top: 16%;
    right: 10%;
    width: 80%;
  }

  &__photo-2 {
    top: 25%;
    right: 3%;
    width: 80%;
  }

  &__photo-3 {
    top: 35%;
    right: 15%;
    width: 80%;
  }

  &__list {
    height: 60rem;
    position: relative;
    border-left-style: inset;
    border-bottom-style: inset;

    ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: 2.4rem;
      justify-content: space-around;
      align-items: center;
    }

    li {
      cursor: pointer;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 200ms linear;
      width: 30rem;

      &:hover {
        color: #387497;
        font-size: 2.65rem;
      }
    }
  }

  br {
    width: 60%;
  }
}
