.project-links {
  display: flex;
  justify-content: space-evenly;
  width: 9rem;

  @include respond(phone) {
    width: 5rem;
  }
  
  &__icon-box {
    margin-top: 3px;
    cursor: pointer;
    
    &:hover {
      & .project-links__icon {
        fill: #f9e1e1;;
      }
    }
  }
  
  &__icon {
    fill: #ff7e99;;
    height: 2.4rem;
    width: 2.4rem;
    transition: 0.5s;
    
    @include respond(phone) {
      height: 1.4rem;
      width: 1.4rem;
      
    }
  }
}