* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  @include responsive(tab-land) {
    font-size: 56.25%;
  }

  @include responsive(tab-port) {
    font-size: 50%;
  }

  @include responsive(big-desktop) {
    font-size: 75%;
  }

}

body {
  padding: 2% 4% 0 4%;
}

section {
  height: 100vh;
  padding: 6rem 0;
}
