* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  
  @include respond (tab-land) {
    font-size: 56.25%;
  }
  
  
  @include respond (tab-port) { 
    font-size: 50%; 
  }
  
  @include respond (big-desktop) {
    font-size: 75%;
  }
  
}

body {
  padding: 2% 4% 0 4%;
  
  @include respond (tab-land) {
    padding: 0;
  }

}

section {
  height: 100vh;
  padding: 6rem 0;
}
