#section-projects {
  border-top-style: solid;
  border-top-width: thick;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

#section-contact {
  padding: 15rem;
}

.contact {
  display:flex;
  background-image: linear-gradient(105deg, rgba($color-white, 0.75) 0%, rgba($color-white, 0.75) 50%, transparent 50%),
    url("../img/dorian-mongel-554993-unsplash.jpg");
  background-size: 100%;
  background-position: bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 1.5);
  height: 50rem;
  text-align: center;

  &__text {
    width: 50%;
    padding: 6rem;
    margin: auto 0;
    color: #343c59;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  &__btn-container {
    width: 50%;
    margin: auto 0;
  }
  
}
